/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html{
	background-color:black;
	padding:0;
}
body{
	width: 1600px;
	margin:0 auto;
	background-color: #fff;
	padding-bottom: 0px;
	font-family: Helvetica LT Std;
}
.burn-head{	
	padding: 0px 320px 0px 320px;
	border-bottom: solid #cccccc 1px;
	height: 126px;
	line-height:126px;
}
.logo{
	float:left;
	padding:0;
	width:40%;
}
.logo h1{
	margin: 0;
	font-weight:bold;
	font-size:36px;
	font-family:Helvetica LT Std;
}
.logo h1 span{
	color:#ca1f1f;
}
.nav-bar{
	float: left;
	height:126px;
	line-height:126px;
	width:60%;
	text-align: right;
	font-size:18px;
	font-weight: bold;
	color:#999999;
}
.nav-bar p a {
	color: #000;
}
a{
	text-decoration: none;
}
#contact-me{
	text-align: center;
	padding-top:100px;
	padding-bottom:100px;
	border-bottom: solid #cccccc 1px;
}
#contact-me h1{
	font-size: 36px;
	font-weight:bold;
}
#contact-me p{
	font-size:16px;
	font-weight:roman;
	margin:45px 380px 45px 380px;
	line-height:26px;	
}
.button-link{
	display: inline-block;
	height:28px;
	width:140px;
	border: solid #222222 1px;
	padding-top:16px;
	font-size:18px;
	color:#ffffff;
	font-weight:bold;
	background-color: #222222;
	border-radius:5px;
}
#project{
	padding: 55px 320px 100px 320px;
}
#project h1{
	font-size:30px;
	font-weight: bold;
}
.link {
	margin-top:44px;
	display: inline-block;
	border: solid #cccccc 1px;
	border-radius: 5px;
	width:298px;
	text-align: center;
	height:278px;
}
.link-margin{
	margin-right:25px;
}
.img-link{
	display: block;
	width:100%;
	height:200px;
	object-fit: cover;
}
.link h2{
	margin-top:20px;
	font-size:18px;
	font-weight:bold;
}
.first{
	margin-left:1px;
}
.link p{
	color: #999999;
	font-size:15px;
	font-weight:roman;
	font-style:italic;
	margin-top:15px;
}
#about-me{
	background-color:#e5e5e5;
	padding:50px 320px 65px 320px;
}
#about-me h1{
	font-size:30px;
	font-weight:bold;
	margin-bottom:46px;
}
#about-me p{
	color: #444444;
	font-family: GillSans_SemiBold_Italic;
	font-size:24px;
	line-height:32px;
	margin-bottom:42px;
}
.icon-link{
	display: inline-block;
	margin-top:64px;
	margin-right:6px;
}
footer{
	text-align: center;
	padding-top:20px;
	padding-bottom:244px;
}
footer p{
	font-size:15px;
	font-weight:bold;
}
footer p span{
	color:#ca1f1f;
}
.button-link:hover{
	background-color:#ca1f1f;
}
.nav-bar p a:hover {
	color:#00BFFF;
}
.link:hover{
	background-color:#FF00FF;
}
.icon-link:hover{
	transform: translateY(10px);
    transition: transform 0.4s ease-out;
}
@font-face{
	font-family:GillSans_SemiBold_Italic;
	src:url('../font/GillSans-SemiBoldItalic.ttf') format('truetype');
}